<?xml version="1.0" encoding="utf-8"?>
<Content Key="8aa88365-4221-4886-a491-0e968a95b93f" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-03-25T22:54:59</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="335edfa2-9d60-4f9f-8f0e-d93cd7911938">home</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "870f5419-2326-4d17-9fc5-77e2216a6c66",
      "key": "7305d632-df05-4ca5-8891-c543d3e93a00",
      "udi": null,
      "values": [
        {
          "alias": "headline",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Welcome \uD83D\uDC4B"
        }
      ]
    },
    {
      "contentTypeKey": "e6fe2e86-4f0b-47c1-b4ba-c4beb49943bc",
      "key": "08b55eae-e749-4cea-880f-96b0299602c7",
      "udi": null,
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EThis is a test website.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "901f83af-55ea-4687-acde-22a7e99bf52e",
      "key": "b9b4ff33-febf-4990-9e77-804b3e4ec6c3",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ed1fac46-3ad8-4651-a97a-8c2d67e5bb64",
              "mediaKey": "102b4645-f186-413f-aa26-6a0a3278e001",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "98b3a50f-1496-4a9d-b863-f150b1032e83",
      "key": "ca8ed1bd-7db6-4271-b39e-14249904a729",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "7305d632-df05-4ca5-8891-c543d3e93a00",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "08b55eae-e749-4cea-880f-96b0299602c7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b9b4ff33-febf-4990-9e77-804b3e4ec6c3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ca8ed1bd-7db6-4271-b39e-14249904a729",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "7305d632-df05-4ca5-8891-c543d3e93a00",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "08b55eae-e749-4cea-880f-96b0299602c7",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "b2cb4b71-0b46-4259-b999-811991e2b36d"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "b9b4ff33-febf-4990-9e77-804b3e4ec6c3",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "cf895573-6cf6-4345-89e9-bc68438b03a1"
          }
        ],
        "columnSpan": 12,
        "contentKey": "ca8ed1bd-7db6-4271-b39e-14249904a729",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </gridContent>
  </Properties>
</Content>