<?xml version="1.0" encoding="utf-8"?>
<Content Key="8aa88365-4221-4886-a491-0e968a95b93f" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-03-25T22:54:59</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d5d4d7dd-c931-4137-b199-40ae17562532">home</Template>
  </Info>
  <Properties>
    <gridContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "870f5419-2326-4d17-9fc5-77e2216a6c66",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/7305d632df054ca58891c543d3e93a00",
      "values": [],
      "headline": "Welcome \uD83D\uDC4B"
    },
    {
      "contentTypeKey": "e6fe2e86-4f0b-47c1-b4ba-c4beb49943bc",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/08b55eaee7494cea880f96b0299602c7",
      "values": [],
      "richText": "\u003Cp\u003EThis is a test website.\u003C/p\u003E"
    },
    {
      "contentTypeKey": "901f83af-55ea-4687-acde-22a7e99bf52e",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/b9b4ff33febf49909e77804b3e4ec6c3",
      "values": [],
      "image": "[{\u0022key\u0022:\u0022ed1fac46-3ad8-4651-a97a-8c2d67e5bb64\u0022,\u0022mediaKey\u0022:\u0022102b4645-f186-413f-aa26-6a0a3278e001\u0022}]"
    },
    {
      "contentTypeKey": "98b3a50f-1496-4a9d-b863-f150b1032e83",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/ca8ed1bd7db64271b39e14249904a729",
      "values": []
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "7305d632-df05-4ca5-8891-c543d3e93a00",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "08b55eae-e749-4cea-880f-96b0299602c7",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "b2cb4b71-0b46-4259-b999-811991e2b36d"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "b9b4ff33-febf-4990-9e77-804b3e4ec6c3",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "cf895573-6cf6-4345-89e9-bc68438b03a1"
          }
        ],
        "columnSpan": 12,
        "contentKey": "ca8ed1bd-7db6-4271-b39e-14249904a729",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </gridContent>
  </Properties>
</Content>